<div>
  <button class="roach1" onmouseover="scurry()">
    <img src="https://i.postimg.cc/4xRNM8Qm/roach.jpg" width="100" height="60">
  </button>
  <button class="roach2">
    <img src="https://i.postimg.cc/4xRNM8Qm/roach.jpg" width="100" height="60">
  </button>
  <button class="roach3">
    <img src="https://i.postimg.cc/4xRNM8Qm/roach.jpg" width="100" height="60">
  </button>
  <button class="roach4">
    <img src="https://i.postimg.cc/4xRNM8Qm/roach.jpg" width="100" height="60">
  </button>
</div>

<router-outlet></router-outlet>
